.nav {
  display: flex;
  justify-content: space-between;
}
.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-weight: 500;
}
.nav__link {
  text-decoration: none;
  color: black;
  transition: opacity 0.5s;
  cursor: pointer;
}
.nav__link:hover {
  opacity: 50%;
}
.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
  left: -50px;
}
